@import 'assets/styles/main.scss';

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.MuiPaper-root {
    background-color: inherit !important;
}

.MuiAccordion-root.Mui-expanded {
    margin: 0;
}

.MuiAccordion-root {
    &::before {
        background-color: inherit !important;
    }
}

.MuiAccordionSummary-root {
    flex-direction: row-reverse;
}

.MuiIconButton-root {
    margin-right: 0.3em !important;
}

#worksContainer {
    .accordionTitle {
        display: flex;
        align-items: center;
        color: _palette(bg-alt);
        line-height: 1.5em;
        cursor: pointer;
        font-size: 1.6em;
        &:hover {
            color: _palette(bg-dark);
        }
    }
}
