#worksContainer span {
    color: CADETBLUE;
}

#worksContainer span:hover {
    cursor: pointer;
    color: #477678;
}

#worksContainer .transitionPanel {
    color: black;
}

#worksContainer .list {
    margin: 0 0 1em;
}

#worksContainer .transitionPanel {
    width: 100%;
    height: 70px;
    margin: 0 30px;
    /* padding: 10px 0 0 0; */
    /* margin-top: 10px; */
}

#worksContainer .cardTransition-enter {
    height: 0px;
    opacity:0;
}

#worksContainer .cardTransition-enter-active {
    height: 70px;
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease;
}

/* .cardTransition-exit {
    height: 100px;
} */

#worksContainer .cardTransition-exit-active {
    height: 0px;
    opacity: 0;
    transform: translateY(0%);
    transition: all 300ms ease;
}