#educationContainer .comment span {
    cursor: pointer;
    color: CADETBLUE;
}

#educationContainer .comment span:hover {
    cursor: pointer;
    color: #477678;
}

#educationContainer .comment .transitionPanel {
    color: black;
}

#educationContainer .transitionPanel {
    width: 100%;
    height: 120px;
    margin: 0 30px;
}

#educationContainer .cardTransition-enter {
    height: 0px;
    opacity:0;
}

#educationContainer .cardTransition-enter-active {
    height: 120px;
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease;
}

#educationContainer .cardTransition-exit-active {
    height: 0px;
    opacity: 0;
    transform: translateY(0%);
    transition: all 300ms ease;
}