@import 'assets/styles/main.scss';

#educationContainer {
    .accordionSummary {
        padding: 0;
    }
    .accordionTitle {
        display: flex;
        align-items: center;
        color: _palette(bg-alt);
        line-height: 1.5em;
        cursor: pointer;
        font-size: 1.6em;
        &:hover {
            color: _palette(bg-dark);
        }
    }
    .transitionPanel {
        .title {
            display: flex;
            justify-content: space-between;
            > h3 {
                margin: 0;
            }
        }
        p.subtitle {
            font-size: 12px;
            padding-left: 1em;
            margin-left: 1em;
            border-left: solid 2px;
            // color: _palette(text-light);
        }
    }
}
