@import 'assets/styles/main.scss';

@font-face {
    font-family: 'Huninn';
    src: local('FiraSans'), url(../assets/fonts/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf) format('truetype');
}

* {
    font-family: 'Huninn';
    font-size: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Huninn';
}

.container {
    margin-top: 15px;
}

.comment {
    padding: 0 25px;
    margin: 20px;
}

.ui .segment {
    min-width: 933px;
}

#app {
    display: flex;
    @include breakpoint('<=large') {
        flex-direction: column;
    }
}