@import 'assets/styles/main.scss';

// Footer

#footer {
    > .inner {
        a {
            color: _palette(accent2);

            &:hover {
                color: _palette(accent2-alt);
            }
        }

        .menu {
            font-size: 0.8em;
            color: _palette(border);
        }
    }

    li {
        color: _palette(fg);
    }

    // #header + #wrapper + & {
    //     > .inner {
    //         margin: 0 auto;
    //     }
    // }
}
